*{
    padding: 0;
    margin: 0;
    user-select:none;
}

:root{
    
    --primary:#62929E;
    --secondary:#546A7B;
    --tertiary: #C6C5B9;
    --white: #ffffff;
    --black: #393D3F;

    
    --roboto: 'Roboto', sans-serif;
    --bebas: 'Bebas Neue', cursive;

    
    --mega: 120px;
    --big: 30px;
    --medium: 25px;
    --small: 25px;
    --mini: 20px;
}
   
.bigText{
    font-size: var(--big);
}
.mediumText{
    font-size: var(--medium);
}
.smallText{
    font-size: var(--small);
}
.miniText{
    font-size: calc(var(--mini) - 5px);
}
.tertiaryText{
    color: var(--tertiary)
}
.underlineText{
    text-decoration: underline;
    cursor: pointer;
}
.boldText{
    font-weight: bold;
}

body{
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--roboto);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul{
    margin:0;
    padding:0;
    display:flex;
}
ul li{
    list-style:none;
    margin:0 35px;
    transition: 0.5s;
} 
ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: medium ;
    font-family: 'Roboto';
    color: var(--white);
    transform: scale(1.4);
    text-shadow: 5px 5px 10px rgba(8, 106, 133, 0.411);
    
} 
ul:hover li a{
    transform: scale(2s);
    opacity: .2;
    filter: blur(5px);
}
ul li a:hover{
    transform: scale(2);
    opacity: 2;
    filter: blur(0);
}
ul li a:before{ 
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:0,5s;
    transform-origin: right;
    z-index: -1;
    
}   

                          

a{
    text-decoration: none;
    color: var(--white);
    
}
#navbar{
    width:100%;
    height:85%;
    position: fixed;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: row;
}
#content{
    background-color: var(--black);
    width:100%;
    height: fit-content;
    position: relative;
    top: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

#menu{
    position:fixed;
    top: 30px;
    right: 200px;
    display: flex;
    text-align: center;
    justify-content: var(--tertiary);
    z-index: 10;
    
}
#menu div{
    font-family: var(--roboto);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: var(--mini);
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    
}

#midNav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#midNav > div{
    width: 60%;
    height: fit-content;
    z-index: 20;
}
#title{
    width: fit-content;
    font-family: 'Roboto';
    color: var(--white);
    font-size: var(--mega);
    line-height: var(--mega);
    text-align: center;
    
}
#subtitle{
    
    font-family: 'Roboto';
    color: var(--white);
    font-size: var(--small);
    text-align: center;
    margin-right: 80px;
    

}

#midNav2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
    background-color: var(--secondary);
}
#imgGabi{
    width: 550px;
    position: absolute;
    top:40px;
}

#arrowContainer{
    width:100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
#arrowContainer img{
    width: 50px;
}
.contentContainer{
    width: 65%;
    height: fit-content;
    min-height: 400px; /*!Togliere*/
    border-left: solid var(--white) 4px;
    position: relative;
    margin:0 auto;
    padding: var(--big) 0px 120px 25px;
}


.contentContainer::before{
    content: "";
    position: absolute;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
    top: calc(-1 * 30px / 2);
    left: calc(-1 * 30px / 2 - 2px);
}
.contentContainer::after{
    content: attr(titolo);
    color: var(--white);
    font-size: var(--big);
    font-family: var(--roboto);
    font-weight: bold;
    position: absolute;
    top: calc(-1 * var(--big) / 2);
    left: 25px;
}
.contentSubtitle{
    margin-top:30px;
}
.socialColumn{
    width: fit-content;
    display: inline-block;
    left: auto;
}
.socialButton{
    width: fit-content;
    height: fit-content;
    margin: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: row;
}
.socialButtonImg{
    width:50px;
    height: 50px;
    background-color: var(--primary);
    border-radius: 5px;
    display: flex;
    align-items: left;
    justify-content: center;
    margin-right: 10px;
}
.socialButtonImg img{
    width:60%;
}
.lingue{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0;
}
.lingue img{
    height: calc(var(--big) + 15px);
    margin-right: 10px;
}
.lingue span{
    margin-right: 10px;
}

.competenzeColumn{
    display: inline-block;
    margin-right: 20px;
}
.popup .competenzeColumn{
    margin: 0 auto;
}
.popup .progress{
    width:150px;
    background-color: var(--black);  
}
.progress{
   width:400px;
   height: 10px;
   background-color: var(--white);
   border-radius: 5px;
   position: relative;
   overflow: hidden;
   margin: 10px 0;
}

.progress div{
    content: "";
    background-color: var(--primary);
    position: absolute;
    height: 10px;
    top:0;
    left: 0;
}
.project{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}




#footer{
    width:100vw;
    height: 250px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#footer p{
    text-align: center;
    margin: 0 20px;
    height: 30px;
}

span{
    position:relative;
}

.popup{
    position:absolute;
    width:360px;
    height: 160px;
    background-color: var(--white);
    bottom: calc(var(--big) + 10px);
    border-radius: 5px;
    box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
    color:initial;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
}
.popup > div{
    width: 360px;
    height: 160px;
    position: relative;
    left: calc(50% - 360px / 2);
}
span:hover .popup{
    opacity: 1;
    
    pointer-events: initial;
} 

#countdown{
    width: 100%;
    height: 70px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.countdownDiv{
    width:18%;
    color:var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    padding: 0;
}
.countdownNum{
    font-size: calc(var(--big) + 5px);
    font-family: var(--bebas);
}

@media only screen and (hover:none){
    .popup{
        display: none;
    }
}
/*Tablet*/
@media only screen and (max-width: 1000px) {
    :root{
        
        --mega: 85px;
        --big: 28px;
        --medium: 25px;
        --small: 18px;
        --mini: 18px;
    }
    .contentContainer{
        width: 80%;
    }
    .progress{
        width:300px;
    }
}
@media only screen and (max-width: 1600px) {
    .project{
        flex-direction: column;
    }
    .projectText{
        width: 100%;
        padding-right: 0;
    }
    .projectImg{
        width: 100%;
        margin-top:10px;
    }
}

/*Phone*/
@media only screen and (max-width: 475px) {
    :root{
       
       --mega: 70px;
       --big: 22px;
       --medium: 20px;
       --small: 16px;
       --mini: 13px;
    }
    #menu {
        display: none;
    }
    #midNav{
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        
    }
    #midNav2{
        width: 0%;
    }
    #subtitle{
    
        font-family: 'Roboto';
        color: var(--white);
        font-size: 15px;
       margin-left: -50px;
       white-space:nowrap;
        
        
        
    
    }
    .contentContainer{
        width: 90%;
        padding-left: 0px;
        border:none;
    }
    .contentContainer::before{
        display: none;
    }
    .contentContainer::after{
        left: 0px;
    }
   
    .progress{
        width:200px;
    }
    #footer{
        height: 100px;
    }
    #credits, #footer .mediumText{
        display: none;
    }
    .socialColumn{
        margin: 0;
    }
    .popup{
        display: none;
    }
}

@media only screen and (max-width: 340px) {
    .socialButton div:nth-child(2){
        width:70vw;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

/*Mini phone*/
@media only screen and (max-width: 300px) {
    :root{
       
       --mega: 70px;
       --big: 18px;
       --medium: 20px;
       --small: 16px;
       --mini: 13px;
    }
    .socialButtonImg{
        width:40px;
        height: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .lingue span:nth-of-type(2){
        display: none;
    }
}


@media only screen and (max-height: 700px) {
    #imgGabi{
        top:0;
    }
    #imgGabi{
        width: 500px;
    }
}
@media only screen and (max-width: 450px){
    #imgGabi{
        opacity: 0.5;
    }
}

@media only screen and (min-height: 1200px) {
    #imgGabi{
        width: 800px;
        top: 200px;
    }
}
@media only screen and (min-height: 1600px) {
    #imgGabi{
        width: 800px;
        bottom: 0;
        top:inherit;
    }
}
@media only screen and (min-height: 2000px) {
    #imgGabi{
        width: 1000px;
    }
}
@media only screen and (max-height: 500px) {
    #imgGabi{
        top: 15px;
        width: 400px;
    }
}
